<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.shoppingmall.mapper.CardMapper">
	<select id="isCardVO" resultType="int">
		select count(*) from tbl_card 
		where name=#{name} and cardNum=#{cardNum} 
		and pwd = #{pwd} and bankName = #{bankName} and validateMonth =#{validateMonth} 
		and validateYear=#{validateYear} and cvc=#{cvc}
	</select>
	 
	<update id="deposit">
		update tbl_card 
		set balance = balance + #{money}
		where name=#{cardVO.name} and cardNum=#{cardVO.cardNum} 
		and bankName = #{cardVO.bankName}
	</update>
	
	<update id="authWithdraw">
		update tbl_card 
		set balance = balance - #{money}
		where name=#{cardVO.name} and cardNum=#{cardVO.cardNum} 
		and bankName = #{cardVO.bankName}
	</update>
	 
	<update id="withdraw">
		<![CDATA[
			update tbl_card
			set balance = balance - #{money}
			where name=#{cardVO.name} and cardNum=#{cardVO.cardNum} 
			and pwd = #{cardVO.pwd} and bankName = #{cardVO.bankName} 
			and validateMonth =#{cardVO.validateMonth} and validateYear=#{cardVO.validateYear}
			and balance >= #{money}
		]]>
		
	</update>
	<insert id="insertCardVO">
		insert into tbl_card(name, cardNum, pwd, bankName,validateYear, validateMonth,cvc)
		values(#{name}, #{cardNum}, #{pwd}, #{bankName},#{validateYear},#{validateMonth}, #{cvc});
	</insert>
</mapper>