<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.shoppingmall.mapper.SellerRequestMapper">
	<insert id="insertSellerRequest">
		insert into tbl_seller_request(name, id, busiName, cardNum, email, validateYear, validateMonth, cvc, pwd, bankName)
		values(#{name}, #{id}, #{busiName}, #{cardNum},#{email}, #{validateYear}, #{validateMonth},#{cvc},#{pwd},#{bankName})
		<selectKey resultType="int" keyProperty="num" order="AFTER">
			 SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	<select id="getSellerRequestList" resultType="org.shoppingmall.domain.SellerRequestVO">
		select * from tbl_seller_request
	</select>
	
	<select id="getSellerRequests" resultType="org.shoppingmall.domain.SellerRequestVO">
		select * from tbl_seller_request where id = #{id}
	</select>
	<select id="getAllSellerRequests" resultType="org.shoppingmall.domain.SellerRequestVO">
		select * from tbl_seller_request
	</select>
	<update id="updateStatusAndUpdatedate">
		update tbl_seller_request set status = #{status}, updatedate = current_timestamp() where id = #{id} order by regdate desc limit 1
	</update>
	<select id="getRecentSellerRequest" resultType="org.shoppingmall.domain.SellerRequestVO">
		select * from tbl_seller_request where id = #{id} order by regdate desc limit 1;
	</select>
</mapper>