<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.shoppingmall.mapper.UserMapper">
	<select id="getUsersList" resultType="org.shoppingmall.domain.UserVO">
		select * from tbl_user;
	</select>
	<insert id="insertUser">
		insert into tbl_user(id, pwd, name, gender, nickname, birthday, postalCode, roadAddress, detailAddress, email)
		values(#{id},#{pwd},#{name},#{gender},#{nickname},#{birthday},#{postalCode},#{roadAddress}, #{detailAddress},#{email});
	</insert>
	
	<select id="getValidateById" resultType="int">
		select count(*) from tbl_user where id = #{id}
	</select>
	
	<resultMap type="org.shoppingmall.domain.UserVO" id="userVO">
		<result column="id" property="id"/>
		<result column="pwd" property="pwd"/>
		<result column="name" property="name"/>
		<result column="gender" property="gender"/>
		<result column="nickname" property="nickname"/>
		<result column="birthday" property="birthday"/>
		<result column="postalCode" property="postalCode"/>
		<result column="roadAddress" property="roadAddress"/>
		<result column="detailAddress" property="detailAddress"/>
		<result column="email" property="email"/>
		<result column="enabled" property="enabled"/>
		<result column="regDate" property="regDate"/>
		<result column="updateDate" property="updateDate"/>
		<collection property="authList" resultMap="authVO"></collection>
	</resultMap>
	
	<resultMap type="org.shoppingmall.domain.AuthVO" id="authVO">
		<result column="id" property="id"/>
		<result column="auth" property="auth"/>
	</resultMap>
	
	<select id="getUser" resultMap="userVO">
		SELECT t1.*, t2.auth
		FROM tbl_user t1
		LEFT JOIN tbl_user_auth t2
		ON t1.id = t2.id
		WHERE t1.id = #{id}
	</select>
	
	<update id="updatePwd">
		update tbl_user set pwd=#{pwd} where id = #{id};
	</update>
	
	<update id="updateBasicAdress">
		update tbl_user set postalCode=#{postalDTO.postalCode},
		roadAddress=#{postalDTO.roadAddress}, detailAddress=#{postalDTO.detailAddress}
		where id = #{id};
	</update>
	
	<select id="getUserById" resultMap="userVO">
		SELECT *
		FROM tbl_user
		WHERE id = #{id}
	</select>
	
	<delete id="deleteUser">
		delete from tbl_user where id = #{id}
	</delete>
	 
</mapper>